body {
	background-color: #008248;
}

.MainContainer {
	width: 90%;
	max-width: 1080px;
	border: solid black 18px;
	margin: 0 auto;
}

.Header {
width: 100%;
height: 60px;
margin-top: -12px;
margin-bottom: 16px;
}

.Sidebar {
	width: 30%;
	float: left;
}

.Sidebar ul {
	list-style-type: none;
	color: #FF0000;
}

.Clear {
	clear: both;
}

.BlogContent {
	float: right;
	width: 70%;
}

.BlogContent img {
	width: 65%;
	height: auto;
	border: gray solid 10px;
}

.Header h2 {
	font-family: Courier;
	padding-left: 3%;
	font-size: 45px;
	padding-top: -35px;
}

a {
	color: #FF0000;
}

div.BlogContent {
	padding-left: 0px;
}

div.SampleCode {
	padding-left: 15px;
	padding-top: 50px;
	width: 85%;
	height: auto;
}

div.BoxModel img {
	width: 35%;
	height: auto;
	float: right;
	margin-bottom: 230px;
	padding-right: 25px;
}